        <footer class="py-4 bg-dark flex-shrink-0">
            <div class="container text-center">
            <span style="font-size: 24px; font-weight: 600; color: rgb(189, 186, 186);">Designed By Sulav Giri, Resham Sapkota And Bikram Nepal</span>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="showpass.js"></script>
    </body>
</html>
