#con{
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    padding: 20px;
    margin: 10px;
}
#ta{
    border-radius: 4px;
}
.butt{
    background-color:gray;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    padding: 8px;
}