body{
  margin: 0px;
  padding: 0px;
  background-color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav_bar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3c3c3c;
}

.nav_bar li{
  float: left;
}

.nav_bar li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.nav_bar li a:hover{
  color: black;
  background-color: gray;
}
.logo li a{
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}
.nav_bar img{
  width: 117px;
  height: 55px;
}

footer{
  position: absolute;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #3c3c3c;
  bottom: 0;
  width: 100%;
  height: 26px;
  font-size: 24px;
  padding: 10px;
  text-align: center;
}

.typewriter h1{
  font-weight: bold;
  font-size: 30px;
  color: white;
  font-family: 'Source Code Pro', monospace;
  overflow: hidden;
  white-space: nowrap;
  border-right: solid 3px orange;
  animation: typing 6s steps(30, end) 1s 1 normal both, blinking .5s steps(30,end) infinite;
}

@keyframes typing{
  from {
    width: 0;
  }
  to {
    width: 280px;
  }
}

@keyframes blinking {
  from{
    border-right-color: orange;
  }
  to{
    border-right-color: transparent;
  }
}
.POTD{
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 2px solid black;
  border-radius: 10px;
  height: 30%;
  width: 40%;
  padding: 10px;
  margin: 20px;
  margin-top: 80px;
  background-color: gray;
  font-family: monospace;
  font-size: 15px;
  float: left;
}
.POTD a{
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: black;
}


.submit_btn{
  background-color: orange;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-align: center;
  display: inline block;
  cursor: pointer;
  padding: 10px 10px;
  margin-top: 4px;
}

.blog{
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  margin-top: 80px;
  height: 50%;
  width: 40%;
  background-color: gray;
  font-family: "Calibri";
  font-size: 15px;
  float: right;  
}
.blog h{
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.blog a{
  font-style: italic;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.blog a:hover{
  color: orange;
}
footer{
  padding: 10px 0 10px 0;
  width: 100%;
}