<%- include("partials/header", {title: "Login"}) %>

<div class="login-form-home">
  <h1>Welcome To College Event Manager</h1>
  <a
    href="/student-login"
    class="btn btn-outline-light btn-lg btn-block login-btn"
    >Login as Student</a
  >
  <a href="/club-login" class="btn btn-outline-light btn-lg btn-block login-btn"
    >Login as Club</a
  >
</div>

<%- include("partials/footer") %>
